<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <section class="section-modal">
    <div class="product product--modal">
      <button class="modal__close">
        <i class="bi bi-x"></i>
      </button>
      <figure class="product__figure product__figure--modal">
        <img class="product__img product__img--modal" src="../assets/img/zapatillas-negras.jpg" alt="Zapatillas Adidas Unisex">
      </figure>
      <div class="product__content product__content--modal">
        <div class="product__texts product__texts--modal">
          <p class="product__name product__name--modal" title="Zapatillas Adidas Unisex">Zapatillas Adidas Unisex</p>
          <span class="product__price product__price--modal">S/ 220.00</span>
          <p class="product__paragraph">Diseñados para tu trote matutino o para ir a la tienda, estos tenis adidas para correr tienen una parte superior de malla transpirable para comodidad durante todo el día.</p>
        </div>
        <button class="product__add-to-cart product__add-to-cart--modal" type="button">Agregar al Carrito</button>
      </div>
    </div>
  </section>
</body>
</html>